<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReadDataFromSQLTables.Properties.Settings.BugSystemConnectionString"
            connectionString="Data Source=maa205227\sqlexpress;Initial Catalog=BugSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>